body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana; text-align: center}
f1{padding-left: 40px;}
f2{padding-left: 40px;}
f3{background-color:yellow;}
.maindiv {background-color:white;color:black; width: 480px; padding: 20px; align: left; border-radius:25px;}





